.titleArea.cartSection{margin: 80px auto 32px;}
.section.cartSection{max-width: 454px!important;}
.xans-order-basketpackage .ec-base-fold.theme1 > .title:after{display: none;}
.xans-order-basketpackage .title.topTitle{display: block!important;text-align: center!important; border-bottom: 1px solid #000;}
.xans-order-basketpackage .title.topTitle h3{font-size: 14px!important;font-weight: 500;padding: 16px 0!important;}
.xans-order-basketpackage .title.subTitle { display:block; padding:0; }
.xans-order-basketpackage .title.subTitle:after { display:none; }
.xans-order-basketpackage .title.subTitle h4 { display:block; padding:0 0 0 0px; line-height:55px; font-size:14px; font-weight:400; background-color:#fff; border-bottom: 1px solid #e8e8e8;}
.xans-order-basketpackage .summary { padding:20px; border-bottom:1px solid #e5e5e5; background:#f9f9f9; }
.xans-order-basketpackage .summary .title { margin:0 0 5px; color: #747474;}
.xans-order-basketpackage .summary .title h5 { font-size:13px; font-weight:normal; }
.xans-order-basketpackage .summary .contents { line-height:20px;color: #747474; }
.xans-order-basketpackage .summary .total { display:block; margin:5px 0 0; }

.xans-order-basketpackage .xans-order-weight .totalWeight {text-align: right; padding: 14px; font-size: 13px; border-bottom: 1px solid #d5d5d5; }
.xans-order-basketpackage .xans-order-weight .totalWeight span {display: inline-block;min-width: 50px;}

.xans-order-basketpackage .totalSummary__title { display:block; margin:0 0 20px; padding:0 0 19px; font-size:14px; border-bottom:1px solid #e5e5e5; }
.xans-order-basketpackage .totalSummary { padding:20px;  }
.xans-order-basketpackage .totalSummary__item { margin:0 0 20px; }
.xans-order-basketpackage .totalSummary__item .heading { display:flex; justify-content: space-between; margin:0 0 15px; }
.xans-order-basketpackage .totalSummary__item .item { display:flex; justify-content: space-between; margin:10px 0 0; color:#747474; }
.xans-order-basketpackage .totalSummary__item .title { font-size:13px; font-weight:normal; }
.xans-order-basketpackage .totalSummary__item .data { text-align:right; }
.xans-order-basketpackage .totalSummary .item .title:before { content:""; display:inline-block; width:9px; height:9px; margin:-2px 10px 0 0; vertical-align:top; border-left: 1px solid #dadada; border-bottom: 1px solid #dadada; }
.xans-order-basketpackage .totalSummary .total { display:flex; justify-content: space-between; overflow:hidden;  }
.xans-order-basketpackage .totalSummary .total .title { font-size:14px; }
.xans-order-basketpackage .totalSummary .paymentPrice { text-align:right; }
.xans-order-basketpackage .totalSummary .paymentPrice strong,
.xans-order-basketpackage .totalSummary .paymentPrice span { display:inline-block; word-break:break-all; }
.xans-order-basketpackage .totalSummary .paymentPrice strong { font-size:16px;}
.xans-order-basketpackage .totalSummary .title p .refer,
.xans-order-basketpackage .totalSummary .title div .refer { display:inline-block; font-size:12px; word-break:break-all; }
.xans-order-basketpackage .totalSummary .ec-base-help { margin:10px 0; }

#NaverChk_Button { margin:8px 0 0; }
/*네이버페이 커스텀*/
#NaverChk_Button .npay_button{padding: 0px 0 0px 0px !important;}
#NaverChk_Button .npay_type_A_1{ width: 100% !important;height: 56px !important;}
#NaverChk_Button .npay_type_MA_1{ width: 100% !important;height: 56px !important;}
#NaverChk_Button .npay_button_box{border-top: 0!important;}
#NaverChk_Button .npay_text{display: none!important;}
#NaverChk_Button .npay_event{display: none!important;}
#NaverChk_Button .npay_btn_link{ height: 56px !important;padding-top: 6px!important;}
#NaverChk_Button .npay_btn_link.npay_btn_pay{    background-size: 78px auto !important;background-position: 50% -38px !important;}
#NaverChk_Button .npay_button_box{padding: 0 0px!important;}

.xans-order-basketpackage td .box.shipping { line-height:1.3em; }
.xans-order-basketpackage td .box.shipping .shippingArea { font-size:12px; line-height:1.3em; }
.xans-order-basketpackage .shippingFee { position:relative; display:inline-block; vertical-align:middle; text-align:left; }
.xans-order-basketpackage .shippingFee .ec-base-tooltip { display:block; margin:0 0 0 -340px; width:360px; }
.xans-order-basketpackage .ec-base-table.total .ec-base-tooltip table th { width:40px; }
.xans-order-basketpackage .ec-base-table.total .ec-base-tooltip table th,
.xans-order-basketpackage .ec-base-table.total .ec-base-tooltip table td { padding:7px 10px 8px 10px; height:auto; font-size:12px; line-height:1.5; text-align:left; }


.xans-order-basketpackage input[type="checkbox"]{border: 1px solid #E0E0E0;border-radius: 2px;width: 16px;height: 16px;background-image: none;}
.xans-order-basketpackage input[type="checkbox"]:checked{ border: 1px solid #000; background-size: 17px;}
.btnNormal.opChan{width: 84px;height: 36px;border: 1px solid #E0E0E0;border-radius: 2px;padding: 10px 18px;}
.xans-order-basketpackage .ec-base-prdInfo .description .price li{margin-bottom: 8px;}
.xans-order-basketpackage .xans-order-selectorder .gLeft{display: flex;flex-wrap: nowrap;float: none;}
.xans-order-basketpackage .xans-order-selectorder .gLeft a{width: 50%;height: 48px; line-height: 47px;border: 1px solid #000;}
.xans-order-basketpackage .cart-total h4{color: #747474!important;}
#orderFixItem .ec-base-button{margin: 8px 0;}

.ec-base-help{margin: 48px auto!important;}
.ec-base-help h3{text-align: center;margin: 0 0 16px;font-weight: 400;}
.ec-base-help .inner{border: 0!important;border-top: 1px solid #000!important;padding: 16px 0!important;}
.bkMBtn{background-color: #000!important;color: #fff!important;}
/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-order-basketpackage .xans-order-tabinfo { margin:0 0 40px; }
	.xans-order-basketpackage .totalSummary { margin:0 16px; }
    .titleArea.cartSection{margin: 42px auto 32px;}
    .xans-order-basketpackage .ec-base-prdInfo .optionGroup {padding:16px 16px!important;}
    .xans-order-basketpackage .totalSummary{    margin: 0 0 0px 0!important;}
    .xans-order-basketpackage .ec-base-button a{margin-bottom: 0px!important;}
    .xans-order-basketpackage .ec-base-prdInfo.gCheck .quantity [class^='btn'].sizeQty{font-size: 12px!important;}
}
/********************* Mobile *********************/
@media all and (max-width:767px) {
    .xans-order-basketpackage .title.topTitle{width: 108%;margin-left: -4%!important;}
    .xans-order-basketpackage .title.subTitle h4{width: 108%;margin-left: -4%!important;padding-left: 16px;}
    .xans-order-normnormal{ width: 108%;margin-left: -4%!important;}
    .xans-order-basketpackage .ec-base-prdInfo .prdBox input[type="checkbox"]{margin-left: 16px;}
    .xans-order-basketpackage .ec-base-prdInfo.gCheck .quantity{padding: 0 16px!important;}

}
/********************* PC *********************/
@media all and (min-width:1025px) {
    .cart-container { display:flex;flex-direction: column; }
    .cart-product { flex:1; }
    .cart-total { position:relative; width:300px; margin:0 0 0 0px; }
    .cart-total .sticky { position:sticky; top:60px; }
	.xans-order-basketpackage .xans-order-tabinfo { margin:40px 0 54px; }
    .xans-order-basketpackage .summary { margin:40px 0; }
    .xans-order-basketpackage .ec-base-prdInfo .description { margin:0 20% 0 0; }
    #orderFixArea { display:none !important; }
}