.xans-member-changepasswd .ec-base-desc.gVer dt {font-size: 14px; line-height: 16px; font-weight: 500; margin: 0; padding: 0;}
.xans-member-changepasswd .ec-base-desc.gVer dd {margin: 16px 0 32px;}
.xans-member-changepasswd input { height: 48px !important;}
.xans-member-changepasswd .ec-base-button.gBottom {margin: 8px 0 0;}
.xans-member-changepasswd .ec-base-button.gBottom a {margin: 0 !important; font-weight: 400; line-height: 46px !important;}