#container #contents {max-width: 474px;}
.titleArea--middle {margin: 0 0 24px !important; text-align: center !important; padding: 0 0 16px !important; background-color: #FFFFFF !important; border-bottom: 1px solid #000;}
.titleArea--middle h3 {font-size: 14px; line-height: 16px; font-weight: 500;}
.xans-member-findpasswd .ec-base-box.typeMember .term {margin-bottom: 16px; font-weight: 500;}
.xans-member-findpasswd .required { display:block; margin: -12px 0 0; line-height:1; text-align:right; color:#888888; font-size: 12px; }
.xans-member-findpasswd .icoRequired {margin-right: 4px;margin-left: 4px;vertical-align: middle;margin-top: -8px;}
.xans-member-findpasswd .ec-base-field.code {display: flex; margin: 0; font-size: 0; gap: 4px;}
.xans-member-findpasswd .ec-base-button.gBottom {margin:0;}
.xans-member-findpasswd .ec-base-button.gBottom button,
.xans-member-findpasswd .ec-base-button.gBottom a {height:48px;padding:0;line-height:48px;font-size:14px;font-weight: 400;border-radius: 2px;}

.ec-base-box.typeMember input[type="text"], .ec-base-box.typeMember input[type="password"], .ec-base-box.typeMember select {height: 48px; margin: 0 !important;}

.xans-member-findpasswd .gBlank10 {display: flex; align-items: center;}
.xans-member-findpasswd .gBlank20 {margin-top: 32px;}
input#check_method2 {order: 1;}
label[for=check_method2] {order: 2;}
input#check_method1 {order: 3;}
label[for=check_method1] {order: 4;}

@media (min-width: 1025px) {
    #container #contents .titleArea {margin: 80px 0 40px 0; width:100%;}
}
@media (max-width: 1024px) {
    #container #contents {max-width: 721px;}
    #container #contents .titleArea {margin: 40px 0 32px;}
    .xans-member-findpasswd .ec-base-box.typeMember .titleArea--middle {width: 108%; margin-left: -4% !important;}
}
