#container > #contents {max-width: 474px;}

.xans-member-join p {display: flex;}
.xans-member-join .title h3 { font-size:16px; font-weight:normal; }
.xans-member-join label { display:none; }
.xans-member-join label.check { display:inline-block; font-size: 14px; line-height: 16px;}
.xans-member-join .contents { overflow:hidden; overflow-y:auto; height:auto; max-height: 232px; margin:16px 0 0; padding:16px; color:#888888; font-size:12px; line-height:20px; border:1px solid #EAEAEA; box-sizing:border-box; }
.xans-member-join .contents p { margin:0 0 20px; }
.xans-member-join .ec-base-chk { margin-top:3px; }
.xans-member-join .agreeAll h3 {font-size:14px; line-height: 16px; font-weight: 500; text-align: center; }
.xans-member-join .agreeAll label { display:inline-block; width: calc(100% - 41px); }
.xans-member-join .additional li { display:flex; margin-right:40px; }
.xans-member-join label + label { margin-left:0; }
.xans-member-join input[type="checkbox"] {width: 16px; height: 16px; background-size: 16px 16px; border-radius: 2px;}
.xans-member-join input[type="checkbox"]:checked {border:1px solid #000; background-size: 16px 16px; border-radius: 2px;}


/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    #container > #contents {max-width: 721px;}
	.xans-member-join .agreeArea { margin:0 0 30px; }
    .xans-member-join .additional { margin:20px 0 0; }

    .xans-member-join .agreeAll h3 {width: 108%; margin-left: -4% !important;}
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    #contents > .section {width: 100% !important;}
    #container > #contents .titleArea {margin: 80px 0 0;}
    .xans-member-join .agreeInner { display:flex; }
	.xans-member-join .left { display:flex; flex:1; margin-right:40px; }
    .xans-member-join .right { flex:1; }
    .xans-member-join .agreeArea.terms .contents { min-height:100%; }
    .xans-member-join .agreeArea.terms { margin:0 0 24px; }
    .xans-member-join .agreeArea + .agreeArea { margin:24px 0 0; }
}

