.xans-myshop-summary { margin:0 0 40px; }
.xans-myshop-summary.ec-base-box.gHalf { border:none;border-top:1px solid #000;padding:0; }
.xans-myshop-summary.ec-base-box.gHalf::before { display:none; }
.xans-myshop-summary ul{ position:relative; float:none;width:100%;border-bottom: 1px solid #EAEAEA;padding-bottom: 8px;}
.xans-myshop-summary:after { content:""; display:block; clear:both; }
.xans-myshop-summary ul li {  padding:20px 16px;  line-height:1.5; vertical-align:top; box-sizing:border-box; overflow:hidden; }
.xans-myshop-summary .title { float:left; width:50%; font-weight:normal; box-sizing:border-box; color: #747474; font-size: 14px;}
.xans-myshop-summary .data { float:left; width:50%;text-align:right; box-sizing:border-box; font-weight: 400;}
.xans-myshop-summary + .ec-base-tab.typeNav .menu{margin: 0 0 40px; display: flex;flex-wrap: wrap;border-bottom: 0;}




.xans-myshop-historylist h3 { font-weight: 500;font-size: 14px;line-height: 16px;background:#fff; }
.xans-myshop-historylist h3 span{display: block;}
.xans-myshop-historylist h3 span.date{color: #888888;font-weight: 400;font-size: 12px;line-height: 14px;margin-top: 8px;}
.xans-myshop-historylist h3 .number{ display:inline-block;margin: 0 0 0 10px; }
/*.xans-myshop-historylist .item { margin:25px 0 0; }*/
.xans-myshop-historylist .ec-base-table {border-top:none; }
.xans-myshop-historylist .item table th,
.xans-myshop-historylist .item table td {line-height:1.5;background:#fff;border-bottom: 0px!important;}
.xans-myshop-historylist .item table th {color:#6d6d6d;text-align:left;font-weight:normal;}

.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .menu li{border-radius: 2px;}
.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .menu li a{ width: 100%;padding: 14px 0;background-color: transparent!important; color: #000;}
.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .menu li{width: 100% !important;background-color: #000!important; margin-bottom: 8px;}
.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .menu li a{color: #fff!important;}
.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .s_bt{display: flex;  flex: 1;  gap: 8px;}
.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .s_bt li{background-color: #fff!important;border: 1px solid #000; }
.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .s_bt li a{color: #000!important;}
/*.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .menu li:nth-child(2){margin-right: 8px;}*/
.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .menu li.selected a{border: 0;}

.xans-myshop-historylist .item{padding: 10px 0; display: flex;flex-direction: row; justify-content: space-between; border-bottom: 1px solid #EAEAEA;}
.xans-myshop-historylist .item .Itemleft{width:80%;display: flex;flex-direction: column;}
.xans-myshop-historylist .item .Itemleft .date{margin-top: 8px;font-size: 12px; color: #888;}
.xans-myshop-historylist .item .ItemRight{width:20%; display: flex;justify-content: end;}


/********************* mo *********************/
@media all and (max-width:1024px) {
	.xans-myshop-summary.ec-base-box.gHalf{width: 108%;margin-left: -4%!important;}
	.xans-myshop-summary ul{margin: 16px 0;}
	.xans-myshop-summary ul li{padding: 8px 16px;}
	/*.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .menu li{flex: none;}*/
	.xans-myshop-summary + .ec-base-tab.typeNav .menu{    flex-direction: column;}
	.subtitleH4{width: 108%;margin-left: -4%!important;}
	.xans-myshop-historylist .item{padding: 16px 0;}

	.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .s_bt li{background-color: #fff!important;border: 1px solid #000; }
	.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .menu li{max-height: 48px!important;}
}
/********************* mo *********************/
@media all and (max-width:767px) {
	/*.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .menu li:nth-child(2),*/
	/*.xans-myshop-mileagehistorypackage .ec-base-tab.typeNav .menu li:nth-child(3){width: 48%!important;}*/
}
/********************* PC *********************/
@media all and (min-width:1025px) {
	.xans-myshop-summary { margin:0 0 50px; }
    .xans-myshop-summary ul{ float:left;width:100%;}
	.xans-myshop-summary ul li { margin:16px 0; padding:0 0px 0; border-top:none; }
	.xans-myshop-summary.ec-base-box.gHalf { padding: 8px 0;}
	/*.xans-myshop-summary.ec-base-box.gHalf::before {content:'';position: absolute;top: 25px;left: 50%;bottom: 25px;display: block;width: 1px;height:auto;background-color: #e5e5e5; }*/
	.xans-myshop-summary + .ec-base-tab.typeNav .menu{margin: 0 0 50px;}
    
    .xans-myshop-historylist .item {padding:16px 0;}

}
