/*.xans-myshop-wishlistitem { border-top:1px solid #000; }*/

.xans-myshop-wishlist .shippingFee { position:relative; display:inline-block; text-align:left; }
.xans-myshop-wishlist .shippingFee .ec-base-tooltip { display:block; margin:0 0 0 -170px; width:360px; }
.xans-myshop-wishlist .shippingFee .ec-base-tooltip table th { width:40px; }
.xans-myshop-wishlist .shippingFee .ec-base-tooltip table th,
.xans-myshop-wishlist .shippingFee .ec-base-tooltip table td { padding:7px 10px 8px 10px; text-align:left; }

.xans-myshop-wishlistbutton .ec-base-button{display: flex; flex-direction: row; justify-content: space-between;align-items: center;}
.xans-myshop-wishlistbutton .ec-base-button:after{display: none;}
.xans-myshop-wishlistbutton .ec-base-button [class^='btn'].sizeS{height: 30px; width: 65px; padding: 4px 5px;}
.xans-myshop-wishlistbutton .ec-base-button .gRight a{font-size: 12px;border: 1px solid #E0E0E0;}
.xans-myshop-wishlistbutton .wishTotal{text-align: left;}

.xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo{ width: 49%;border-bottom: 0;}
.xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .prdBox{padding: 0 0 32px;flex-direction: column;}
/*.xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .description{ min-height: 80px;}*/
.xans-myshop-wishlist .ec-base-prdInfo .description li.salePrice, .xans-myshop-wishlist .ec-base-prdInfo .description li.sellPrice strong{font-weight: 700;}
.xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .description li.salePrice:not(.displaynone) + .sellPrice{color: #AEAEAE;text-decoration: line-through;font-size:12px;font-weight: 500!important;}
.xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .description .prdName{margin: 13px 0 8px;}
.xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .description .prdName a{font-weight: 500;}
.xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .btnDelete{top: 13px;right: 13px;}
.xans-myshop-wishlist .ec-base-prdInfo .description .price{display: flex;}
.xans-myshop-wishlist .ec-base-prdInfo .description .price li:nth-child(1){margin-right: 8px;}
.wishBack,.wishBB{display: none;}



/****************** MO ******************************/
@media screen and (max-width:1024px) {
    .xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .btnDelete{top: 10px;right: 10px;}
    /*.xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .btnDelete:before{height: 10px;top: 2px;right: 15px;}*/
    /*.xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .btnDelete:after{width: 10px; top: 7px; right: 11px;}*/
    .xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .description{padding: 0 0px 0 0;}
    .xans-myshop-wishlist .xans-myshop-wishlistitem .ec-base-prdInfo .description .prdName a{font-weight: 500;}
    .xans-myshop-wishlistbutton .ec-base-button{margin-left: 0;margin-right: 0; }
    .wishBack,.wishBB{display: block;}
    .wishBack:after {
        content: '';
        display:inline-block;
        width: 0.8rem;
        height: 0.8rem;
        margin-left: 0.5rem;
        border-top: 0.1rem solid #333;
        border-right: 0.1rem solid #333;
        transform: rotate(225deg);
    }
    .wishBB:after {
        content: '';
        display:inline-block;
        width: 0.8rem;
        height: 0.8rem;
        background: transparent;
    }
    .wishTitle {display: flex;justify-content: space-between; margin: 40px 0px 24px!important;}
}
