<div class="store_popup" data-ez="module-1arwz9v-1" data-ez-module="user-defined/1" data-ez-name="USER DEFINED" data-ez-type="plain">
    <div class="popup_title">
        <button class="close_popup_icon display_tablet_only"><!--@import(/svg/icon-chevron-left.svg)--></button>
        <h4>매장찾기</h4>
    </div>
    <div class="store_info">
        롯데월드몰 4월말 오픈 예정
<!--        <div class="store_list">-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <p class="store_name">매장이름</p>-->
<!--                    <p>주소</p>-->
<!--                    <p>매장번호</p>-->
<!--                    <p>운영시간</p>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="store_map display_pc_only">-->
<!--            매장 지도 영역-->
<!--        </div>-->
    </div>
    <button class="close_popup display_pc_only">닫기</button>

    <div class="store_map_MO">
        <div class="popup_title">
            <h4>매장명</h4>
        </div>
        <div class="map_area" style="background: skyblue;">
            맵 영역
        </div>
        <div class="map_info">
            <p class="store_name">롯데부산</p>
            <p>부산광역시 부산진구 가야대로 772</p>
            <p>000-000-000</p>
            <p>10:30~20:00</p>
        </div>
        <button class="close_map">닫기</button>
    </div>
</div>
<!--#ez="1/1"-->