<div class="store_popup" data-ez="module-1arwz9v-1" data-ez-module="user-defined/1" data-ez-name="USER DEFINED" data-ez-type="plain">
    <div class="popup_title">
        <button class="close_popup_icon display_tablet_only"><!--@import(/svg/icon-chevron-left.svg)--></button>
        <h4>매장찾기</h4>
    </div>
    <div class="store_info">
        <div class="store_list">
            <ul>
                <li id="storeMap1">
                    <p class="store_name">롯데월드몰</p>
                    <p>서울특별시 송파구 올림픽로 300 롯데월드몰 3F</p>
                    <p>02-3213-4357</p>
                    <p>10:30 ~ 22:00</p>
                </li>
            </ul>
        </div>
        <div id="map" class="store_map display_pc_only">

        </div>
    </div>
    <button class="close_popup display_pc_only">닫기</button>

    <div class="store_map_MO">
        <div class="popup_title">
            <h4>매장명</h4>
        </div>
        <div id="mapMo1" class="map_area">

        </div>
        <div class="map_info">
            <p class="store_name">롯데월드몰</p>
            <p>서울특별시 송파구 올림픽로 300 롯데월드몰 3F</p>
            <p>02-3213-4357</p>
            <p>10:30~22:00</p>
        </div>
        <button class="close_map">닫기</button>
    </div>
</div>
<!--#ez="1/1"-->