#header{max-width: 100%;z-index: 9999;}

#mCafe24Order .titleArea h1{font-weight: 400;font-size: 24px;color: #000000;}


#mCafe24Order .resultArea{padding: 0px 0px 32px; margin: 0px 0px 0px;border-bottom: 1px solid #EAEAEA;}
#mCafe24Order .resultArea:after{display: none;}
#mCafe24Order .resultInfo{border-top: 0;}
#mCafe24Order .resultInfo .ec-base-table th{border-bottom: 0;}
#mCafe24Order .resultInfo .ec-base-table td{border-bottom: 0;}

#mCafe24Order.xans-order-result .pannelArea{border: 0;}
#mCafe24Order.xans-order-result .segment{padding: 14px 0;}
#mCafe24Order.xans-order-result .pannelArea colgroup{display: none;}
#mCafe24Order.xans-order-result .pannelArea .ec-base-table tr{flex-direction: row;justify-content: space-between;}
#mCafe24Order.xans-order-result .ec-base-table.typeView > table > tbody > tr > th{border-top: 0;}
#mCafe24Order .ec-base-table.typeView > table > tbody > tr > td{border-top: 0;}
#mCafe24Order .ec-base-table th{border-bottom: 0!important;}
#mCafe24Order.xans-order-result .contents{border-top: 0;}
#mCafe24Order.xans-order-result .pannelArea .ec-base-table tr.paySection{padding: 24px 0 40px;border-bottom: 1px solid #EAEAEA;}
#mCafe24Order.xans-order-result .pannelArea .ec-base-table tr.paySection th{width: 20%;}
#mCafe24Order.xans-order-result .pannelArea .ec-base-table tr.paySection td{text-align: right;}
#mCafe24Order .ec-base-table.typeView h3{font-weight: 400;color: #000000;padding-top: 40px;}
#mCafe24Order.xans-order-result .ec-base-prdInfo{ padding: 8px 0px 0px;border-top: 0;}
#mCafe24Order.xans-order-result .orderArea h3{font-weight: 400;color: #000000;padding-top: 32px;}
#mCafe24Order.xans-order-result .orderArea .ec-base-prdInfo{border-bottom: 0!important;}
#mCafe24Order.xans-order-result .orderArea .ec-base-prdInfo:first-child{border-top: 1px solid #EAEAEA!important;}
/*#mCafe24Order.xans-order-result .orderArea .ec-base-prdInfo:last-child{padding-bottom: 34px;}*/
#mCafe24Order.xans-order-result .ec-base-prdInfo .description .prdName{margin-bottom: 8px;font-weight: 500;}

#mCafe24Order .ec-base-table h3{font-weight: 400;color: #000000;}
#mCafe24Order .ec-base-table.gCellNarrow tbody.pannelSection{padding: 24px 0 0px;display: block;}
#mCafe24Order .pannelArea .ec-base-box{background: #fff!important;border: 0!important;line-height: 14px;padding: 0px 14px;}
#mCafe24Order.xans-order-result .segment .totalPay{background-color: #fff; padding: 8px 0;margin: 0;}
#mCafe24Order.xans-order-result .segment .totalPay h3{ font-weight: 400;font-size: 14px;color: #747474;}
#mCafe24Order.xans-order-result .segment .totalPay .txtStrong{font-weight: 700;font-size: 14px;color: #000;}
#mCafe24Order.xans-order-result td.right{font-size: 14px;color: #000;}
#mCafe24Order.xans-order-result .totalPay{background-color: #fff; padding: 4px 0px;border-top: 0;font-size: 14px;}
#mCafe24Order.xans-order-result .totalPay h3.heading{font-size: 14px; font-weight: 400;color: #747474;}
#mCafe24Order.xans-order-result .ec-base-table.gCellNarrow tbody td{font-size: 14px;}

#mCafe24Order .resultBtn{ margin: 0!important;display: flex!important;flex-direction: column;}
#mCafe24Order .resultBtn a{height: 48px!important;font-weight: 400;font-size: 14px!important; margin: 0 0 0 0px!important;border-radius: 2px;}
#mCafe24Order .resultBtn a.btnSubmit{border: 1px solid #000;color: #000;background-color: #fff;margin-bottom: 8px!important;}
#mCafe24Order .resultBtn a.btnEm{background-color: #000;color: #fff;border: 0!important;}
#mCafe24Order .ec-base-prdInfo .prdBox{padding: 16px 0px 0;}




@media all and (max-width:1024px) {
    #mCafe24Order .ec-base-prdInfo .prdBox{padding: 0px 0px;}
}

