.topBannerBox{position: relative; z-index: 12;background-color: #000;}
.topBannerBox > div{ height: 40px;}
.topBannerBox .topBanner .topB > a{font-weight: 700;text-align: center;font-size: 16px;line-height: 39px;color: #fff;position: relative;display: block;}
.topBannerBox .topBanner .btnBox{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); max-width: 1440px;width: 100%;height: 100%;display: flex;}
.topBannerBox .topBanner .btnBox > a{width: 100%;height: 100%;}
.topBannerBox .topBanner .btnClose{width: 24px;height: 24px;float: right;cursor: pointer; margin-top: 6px;}
.topPc{display:block;}
.topMo{display:none;}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .topBannerBox{height: 40px;}
    .topBannerBox .topBanner .topB > a{font-size: 13px;line-height: 37px;}

    .topBannerBox span{width: 92%!important;}

    body.searchExpand .topBannerBox {display: none !important;}
    
    .topPc{display:none;}
	.topMo{display:block;}
}



/*!********************* Mobile / Tablet *********************!*/
/*@media all and (max-width:1024px) {*/
/*    .topBannerBox{height: 40px;}*/
/*    .topBannerBox a img{object-fit: cover;height: 100%;}*/
/*    .topBannerBox span{width: 92%!important;}*/

/*    body.searchExpand .topBannerBox {display: none !important;}*/
/*}*/