<!--@layout(/layout/basic/layout.html)-->
<!--@css(/layout/basic/css/main.css)-->
<!--@css(/Ogam/css/heritage.css)-->
<!--@js(/Ogam/js/heitage.js)-->

<!--상단배너-->
<section id="heritageMain">
    <div class="pc">
        <img src="/web/upload/free_design/heritage_main.jpg">
        <div class="txtBox">
            <img src="/web/upload/free_design/logo_w.png">
            <p>Premium Sportive Lifestyle</p>
            <h3>Sergio Tacchini</h3>
        </div>
    </div>
    <div class="mo">
        <img src="/web/upload/free_design/heritage_main_mo.jpg">
        <div class="txtBox">
            <img src="/web/upload/free_design/logo_w.png">
            <p>Premium Sportive Lifestyle</p>
            <h3>Sergio Tacchini</h3>
        </div>
    </div>
    <div class="scroll-downs">
        <div class="mousey">
            <div class="scroller"></div>
        </div>
    </div>
</section>

<!--정통성,,세르지오타키니-->
<section class="middleSection">
    <div class="pc">
        <img src="/web/upload/free_design/middle_Banner_pc.jpg">
        <div class="txtBox">
            <h3>테니스 패션의 역사는 세르지오 타키니 전과 이후로 나뉜다.</h3>
            <p>1966년 이탈리아 테니스 챔피언 세르지오 타키니에 의해 설립된 브랜드로<br/>
                화이트 컬러가 주 사용되던 테니스웨어에 최초로 다양한 컬러와 스타일을 반영하여 스포츠에 패션을 도입하였습니다.</p>
        </div>
    </div>
    <div class="mo">
        <img src="/web/upload/free_design/middle_Banner_mo.jpg">
        <div class="txtBox">
            <h3>테니스 패션의 역사는 세르지오 타키니<br/>
                전과 이후로 나뉜다.</h3>
            <p>1966년 이탈리아 테니스 챔피언 세르지오 타키니에 의해<br/>
                설립된 브랜드로 화이트 컬러가 주 사용되던 테니스웨어에<br/>
                최초로 다양한 컬러와 스타일을 반영하여<br/>
                스포츠에 패션을 도입하였습니다.</p>
        </div>
    </div>
</section>

<!--검정배경부분-->
<section class="blackSection">
    <div class="crossBox">
        <span class="brand01 brand" style="width:40%">TENNIS<br/>&<br/>SPORTS<span></span></span>
        <span style="width: 20%"><img src="/web/upload/free_design/logo_w.png"></span>
        <span class="brand02 brand" style="width: 40%">CULTURE<span></span></span>
    </div>
    <div class="txtBox">
        <p class="pc">세르지오 타키니는 최고의 테니스 챔피언들과 파트너십을 맺고 활동을 하며<br/>
            스포츠, 패션, 문화의 교차점에서 세대에 걸쳐 다양한 공동체를 연결하고 있습니다.</p>
        <p class="mo">세르지오 타키니는 최고의 테니스 챔피언들과<br/>파트너십을 맺고 활동을 하며<br/>
            스포츠, 패션, 문화의 교차점에서 세대에 걸쳐<br/>다양한 공동체를 연결하고 있습니다.</p>
    </div>
</section>

<!--그리드배너-->
<section class="girdSection">
    <div class="imgBox">
        <div class="big"><img src="/web/upload/free_design/gridImg1.jpg"></div>
        <div class="small"><img src="/web/upload/free_design/gridImg2.jpg"><img src="/web/upload/free_design/gridImg3.jpg"></div>
    </div>
    <div class="txtBox">
        <p class="pc">세르지오 타키니는 ATP 마스터즈 1,000 시리즈 중 가장 권위있고 역사가 깊은 국제 대회인 몬테카를로 마스터즈의 공식 후원사이며<br/>
            50년 이상 동안 문화를 발전시키기 위한 헌신에 변함이 없습니다.</p>
        <p class="mo">세르지오 타키니는 ATP 마스터즈 1,000 시리즈 중<br/>
            가장 권위있고 역사가 깊은 국제 대회인<br/>
            몬테카를로 마스터즈의 공식 후원사이며<br/>
            50년 이상 동안 문화를 발전시키기 위한<br/>
            헌신에 변함이 없습니다.</p>
    </div>
</section>

<!--하단섹션-->
<section class="halfSection">
    <img src="/web/upload/free_design/bottomImg.jpg">
    <div class="txtBox">
        <p class="pc">우리는 이제 테니스 정통 헤리티지에서 시작한 세르지오 타키니를<br/>
            럭셔리를 대표하는 Premium Sportive Lifestyle 브랜드로 도약합니다.</p>
        <p class="mo">우리는 이제 테니스 정통 헤리티지에서 시작한<br/>
            세르지오 타키니를 럭셔리를 대표하는<br/>
            Premium Sportive Lifestyle 브랜드로<br/>
            도약합니다.</p>
    </div>
</section>