<!--@layout(/layout/basic/layout.html)-->
<!--@css(/layout/basic/css/main.css)-->
<!--@css(/Ogam/css/heritage.css)-->
<!--@js(/Ogam/js/heitage.js)-->

<!--상단배너-->
<section id="heritageMain">
    <div>
        <img src="/web/upload/free_design/heritage_main.jpg">
        <div class="txtBox">
            <div class="title">
                <img src="/web/upload/free_design/ht_logo.svg"><div class="line"></div>
                <h3>세르지오 타키니</h3>
            </div>
            <p>Italian Premium Tennis Wear since 1966</p>
        </div>
    </div>
</section>

<section class="halfSection">
    <div class="half01">
        <img src="/web/upload/free_design/half01.jpg">
    </div>
    <div class="half02">
        <div>
            <img src="/web/upload/free_design/half02.jpg">
        </div>
    </div>
    <span class="txtVert">세르지오 타키니의 시작</span>
    <div class="txtBox">
        <p>
            <strong>1966년,</strong> 이탈리아 테니스 챔피언 세르지오 타키니가<br class="display_tablet_only"> 본인의 이름을 따서 <br class="display_pc_only">
            최초 런칭한 세르지오 타키니는<br class="display_tablet_only"> 당시 화이트 일색이었던 테니스웨어에<br class="display_pc_only">
            고급스러운<br class="display_tablet_only"> 컬러와 소재를 적용, 최초로 테니스룩에 패션을<br class="display_tablet_only"> 도입한 브랜드로 유명하다.
        </p>
    </div>
</section>

<section class="bgSection">
    <img src="/web/upload/free_design/ht_background.jpg">
    <div class="txtBox">
        <p>
            세르지오 타키니는 가장 럭셔리하고 영예로운<br class="display_tablet_only">
            클레이코트에서 열리는<br class="display_pc_only"> 국제 테니스대회인<br class="display_tablet_only">
            몬테카를로 마스터즈의 오랜 공식 후원사이기도 하다.<br>
            <br>
            모나코에서 이탈리아 리비에라에 이르는 아름다운<br class="display_tablet_only">
            지중해 해변과<br class="display_pc_only"> 고급스러운 리조트룩에서 나오는<br class="display_tablet_only">
            클래씨하면서도 여유로운 매력이<br class="display_pc_only"> 세르지오 타키니의 <br class="display_tablet_only">프리미엄 헤리티지에 녹아 들어있다.
        </p>
    </div>
    <span class="txtVert">From Monte Carlo Masters</span>
</section>

<section class="gridSection">
    <div class="txtBoxW">
        <p>
            <strong>70년대부터</strong> 세르지오 타키니는 수많은 테니스<br class="display_tablet_only"> 챔피언들의<br class="display_pc_only">
            가장 영광스러운 순간을 함께 해 왔다.
        </p>
    </div>
    <span class="txtVert display_pc_only">세르지오 타키니와 테니스 챔피언들</span>
    <ul>
        <li>
            <img src="/web/upload/free_design/grid-4.jpg" alt="JOHN MCENROE">
            <div class="txtBox">
                <div class="name">
                    JOHN MCENROE<div class="line"></div>
                    <span>존 매켄로</span>
                </div>
                <p>7 Grand Slam titles while sponsored by<br class="display_tablet_only"> Sergio Tacchini,<br class="display_pc_only">
                    earning him an ATP World No.1<br class="display_tablet_only"> ranking in 1980.</p>
            </div>
        </li>
        <li>
            <img src="/web/upload/free_design/grid-1.jpg" alt="GABRIELA SABATINI">
            <div class="txtBox">
                <div class="name">
                    GABRIELA SABATINI<div class="line"></div>
                    <span>가브리엘라 사바티니</span>
                </div>
                <p>Grand Slam singles title at the 1990 U.S.<br class="display_tablet_only"> Well-known<br class="display_pc_only">
                    for her screaming topspin forehand.</p>
            </div>
            <span class="txtVert display_tablet_only">세르지오 타키니와 테니스 챔피언들</span>
        </li>
        <li>
            <img src="/web/upload/free_design/grid-2.jpg" alt="PETE SAMPRAS">
            <div class="txtBox">
                <div class="name">
                    PETE SAMPRAS<div class="line"></div>
                    <span>피트 샘프라스</span>
                </div>
                <p>“Pistol Pete” won 14 Grand Slam singles titles<br>
                    throughout his career Sponsored by<br class="display_tablet_only"> Sergio Tacchini<br class="display_pc_only">
                    from the late-1980s to mid-90s.</p>
            </div>
        </li>
        <li>
            <img src="/web/upload/free_design/grid-3.jpg" alt="GORAN IVANISEVIC">
            <div class="txtBox">
                <div class="name">
                    GORAN IVANISEVIC<div class="line"></div>
                    <span>고란 이바니세비치</span>
                </div>
                <p>Ranking as World No.2 player by the ARP in 1994,<br>
                    the only player to hold a Grand Slam title<br class="display_tablet_only"> at Wimbledon.</p>
            </div>
        </li>

    </ul>
</section>

<section class="lastSection">
    <img src="/web/upload/free_design/last_bg.jpg">
    <div class="txtArea">
        <p>
            <strong>2023년 여름,</strong><br>
            <br>
            세르지오 타키니는 정통 테니스 헤리티지를 <br class="display_tablet_only">기반으로<br class="display_pc_only">
            보다 현대적이고 고급스러운 소재,<br class="display_tablet_only"> 세련된 컬러와 여유로운 실루엣을 통해<br>
            차원이 다른 프리미엄 스포츠웨어로 진화한다.<br>
            <br>
            훨씬 다양해진 여성 스타일들과 글로벌 컬렉션이<br>
            더욱 고급스럽고 풍요로운 라인업을 완성하며,<br class="display_tablet_only"> 우리들 일상의 모든 순간을<br class="display_pc_only">
            여유롭고 활동적인<br class="display_tablet_only"> 뉴 프리미엄 스타일로 채워 줄 것이다.<br class="display_pc_only">
        </p>
    </div>
    <span class="txtVert">현재 | Premium Lifestyle Sports</span>
</section>

