/** form_onetouch_style **/

/* 원터치 주문서 셀렉트박스 화살표 삭제 ie11 - 정환 */
select::-ms-expand {display:none;}
#userStyle #header .titleArea h1 {background-color:#fff;color: #000;font-weight: 400;font-size: 24px;}
#userStyle #mCafe24Order .txtEm,
#userStyle #mCafe24Order .txtStrong {color:#111;}
#userStyle #mCafe24Order .btnSubmit {background-color:#111 !important;border:1px solid #111 !important;}
#contents{margin-top: 0!important;}
.headerOrder{max-width: 100% !important;  position: fixed!important;  z-index: 9999999!important;}
/*.containerOrder{padding-top: 80px;}*/
#header .header{display: none;}
.titleArea{margin: 80px 0 32px!important;}
#header .titleArea h1{background-color: #fff!important;color: #000!important;border: 0!important;font-size: 24px!important;font-weight: 400!important;display: none!important;}
#mCafe24Order .orderArea .totalPrice .title{background-color: #fff!important;padding: 11px 0!important;}
#mCafe24Order > h2{font-weight: 400;
    font-size: 24px;text-align: center;padding: 80px 0 32px;}

#mCafe24Order{background: #fff!important;margin: 0 auto!important;}
#mCafe24Order{width: 474px!important; border-left: 0!important;border-right: 0!important;}
#mCafe24Order.typeHeader{padding-top: 0px!important;}
#mCafe24Order .ec-base-fold{border-bottom: 0!important;}
#mCafe24Order .ec-base-fold > .title{border-bottom: 1px solid #000!important;justify-content: center!important;padding: 16px 0!important; font-size: 14px!important;position: relative; font-weight: 500 !important;}
#ec-jigsaw-title-billingInfo.title{border-bottom: 1px solid #000!important;justify-content: center!important;padding: 16px 0!important; font-size: 14px!important;position: relative;}
#mCafe24Order #ec-jigsaw-title-billingInfo:before,
#mCafe24Order #ec-jigsaw-title-shippingInfo:before{content:'필수입력사항'; display: block;position: absolute;top: 50%;right: 0;transform: translateY(-50%);color: #888888;font-size: 12px;}
#mCafe24Order .title h2{font-size: 14px!important;font-weight: 500!important;}
#ec-jigsaw-title-payment:after, #ec-jigsaw-title-paymethod:after, #ec-jigsaw-title-orderProduct:after{display: none!important;}
#mCafe24Order .ec-base-fold > .title:after{display: none!important;}
#mCafe24Order #ec-jigsaw-title-billingInfo:after,
#mCafe24Order .ec-base-fold > #ec-jigsaw-title-shippingInfo:after{content:''; display: block!important;position: absolute;top: 43%!important;right: 71px!important;width:4px!important; height:4px!important; transform: translateY(-50%)!important;color: #888888!important;background: #e73223;border-radius: 50%;border: 0!important;}


#mCafe24Order .title h2{margin: 0 0px 0 0!important;}
#mCafe24Order .orderArea .ec-base-prdInfo{margin: 0 0px 0px 0px!important;border-bottom: 1px solid #EAEAEA!important; border-top: none !important;}
#mCafe24Order .ec-base-prdInfo .thumbnail{width:120px!important;height: 160px!important;border: 0!important;}
#mCafe24Order .ec-base-prdInfo .description{display: flex!important;flex-direction: column;}
#mCafe24Order .ec-base-prdInfo .description .info{margin: 0 0 0px!important;}
#mCafe24Order .ec-base-prdInfo .description .info li{margin-bottom: 8px!important;}
#mCafe24Order .txtWarn{color: #000!important;}
#mCafe24Order .icoRequired{width: 4px!important;height: 4px!important;background: #E73223!important;border-radius: 50%!important;vertical-align: top!important;margin: 0px 0 0!important;}
#mCafe24Order .ec-base-tab li{background: #fff!important;border-left: 0!important;}
#mCafe24Order .ec-base-tab li.selected{    border-bottom-color: #000!important;}
#mCafe24Order #ec-jigsaw-area-shippingInfo .ec-base-tab ul {margin-bottom: 0px; }
#ec-jigsaw-tab-shippingInfo.ec-base-tab li a{font-size: 14px!important;font-weight: 500!important;color: #888888!important;}
#ec-jigsaw-tab-shippingInfo.ec-base-tab li.selected a{color: #000!important;}
#mCafe24Order .segment .paymentList .discountName .ico_accumulate{display: none!important;}
#ec-jigsaw-area-orderProduct .ec-base-prdInfo .description .info{ order:3;display: flex!important;flex-direction: column; }
#ec-jigsaw-area-orderProduct .ec-base-prdInfo .description .proPrice{ order:2;margin-bottom: 8px; }
#ec-jigsaw-area-orderProduct .ec-base-prdInfo .description .info li:nth-of-type(4){order:3;}
#ec-jigsaw-area-orderProduct .ec-base-prdInfo .description .info li:nth-of-type(3){order:4;}

#ec-jigsaw-area-billingInfo colgroup{display: none!important;}
#ec-jigsaw-area-billingInfo .address_form tr{display: flex;flex-direction: column;}
#ec-jigsaw-area-billingInfo .address_form tr:nth-child(1){position: relative;}
#ec-jigsaw-area-billingInfo .address_form tr:nth-child(1) th:after{content:''; display: block!important;position: absolute;top: 33px!important;left: 82px!important;width:4px!important; height:4px!important; transform: translateY(-50%)!important;color: #888888!important;background: #e73223;border-radius: 50%;border: 0!important;}
#ec-jigsaw-area-billingInfo .ec-base-table th, #ec-jigsaw-area-billingInfo .ec-base-table td{border-bottom: 0!important;}
#mCafe24Order .ec-base-table.typeWrite tbody th{padding: 32px 0 16px!important; font-size: 14px; line-height: 16px; font-weight: 500;}
#mCafe24Order .ec-base-table.typeWrite td{padding: 0px 0 0px!important;}
#mCafe24Order .ec-base-table .ec-address{margin: 0px!important;}
#mCafe24Order .ec-base-table .ec-address > li{padding: 0px 0px 8px!important;}
#ec-jigsaw-area-billingInfo input{height: 48px!important;background-color: #fff!important;}
#ec-jigsaw-area-billingInfo select{height: 48px!important; border: 1px solid #E1E1E1!important;}
#ec-jigsaw-area-billingInfo #btn_search_ozipcode{height: 48px!important;width: 61px!important;margin: 0 0 0 0px!important;min-width: 61px!important;border-radius: 2px;}
#ozipcode1{width: calc(100% - 70px)!important;flex: none!important;}
#orderer_zipcode_wrap{ justify-content: space-between; height: 48px!important;}
.emailtxt{font-size: 12px;color: #747474;display: contents;line-height: 2;}
#ec-jigsaw-heading-billingInfo{display: none!important;}
#mCafe24Order .ec-base-table tr:not(.ec-orderform-emailRow) .ec-base-mail {font-size: 0;}

#ec-shippingInfo-recentAddressText{padding: 0 0px 32px!important;}
.ec-shippingInfo-shippingMessage{padding: 20px 0px 20px!important;}
#mCafe24Order .segment.unique{border-top: 0!important;padding: 0px 0px 0px!important;}
.messageTxt{ line-height:16px; font-weight:500; color: #000;margin-bottom: 8px; display: block;}
#mCafe24Order .recentShipArea{padding-top: 24px;}
#mCafe24Order .recentShipArea .recent .address{font-size: 14px!important; color: #949494!important;}
#ec-shop-deliveryInfoCell, #ec-shop-deliveryInfoTel{font-size: 14px!important; color: #949494!important;}
#ec-shop-deliveryInfoName{font-size: 14px!important; font-weight: 700!important;}
#omessage_select{ border: 1px solid #EAEAEA!important; color: #888!important;height: 48px!important;}
#ec-shippingInfo-showRecentAddressList{ border: 1px solid #EAEAEA!important; color: #000!important;     width: 100px;height: 36px!important;line-height: 35px!important; padding: 0 15px!important;border-radius: 2px;}
#mCafe24Order .segment.ec-shippingInfo-sameaddr{padding: 24px 0 0!important;}
#mCafe24Order input[type="radio"] + label{font-size: 14px!important;color: #000;}
#ec-shippingInfo-newAddress colgroup{display: none;}
.ec-shippingInfo-newAddress-name, #ec-receiver-address, .ec-shippingInfo-receiverPhone , .ec-shippingInfo-receiverCell {display: flex;flex-direction: column;}
#rname, #rzipcode1,#btn_search_rzipcode, #raddr1, #raddr2, #rphone1_1, #rphone1_2, #rphone1_3, #rphone2_1, #rphone2_2, #rphone2_3{height: 48px!important;background-color: #fff!important;border: 1px solid #EAEAEA!important;}
#ec-shippingInfo-newAddress .ec-base-table th, #ec-shippingInfo-newAddress .ec-base-table td{border-bottom: 0!important;}
#rzipcode1{width: calc(100% - 85px)!important;flex: none!important;}
#btn_search_rzipcode{width: 70px!important;margin: 0 0 0 0px!important;}
#receiver_zipcode_wrap{ justify-content: space-between; height: 48px!important;}
#mCafe24Order .segment.ec-shippingInfo-newAddress-setMain{ padding: 8px 0px 20px!important;}
#mCafe24Order .recentShipArea .segment .sideRight{top: 0!important;}
#ec-shippingInfo-newAddress .ec-base-table{padding-bottom: 32px!important;}
#ec-shippingInfo-newAddress .ec-shippingInfo-newAddress-name{position: relative;}
#ec-shippingInfo-newAddress .ec-shippingInfo-newAddress-name th:after{content:''; display: block!important;position: absolute;top: 33px!important;left: 74px!important;width:4px!important; height:4px!important; transform: translateY(-50%)!important;color: #888888!important;background: #e73223;border-radius: 50%;border: 0!important;}

#mCafe24Order #ec-jigsaw-area-payment .segment{padding: 16px 0px 0px!important;}
#mCafe24Order #ec-jigsaw-area-payment .ec-base-table th, #ec-jigsaw-area-payment .ec-base-table td{border-bottom: 0!important;}
#mCafe24Order .segment .ec-base-table tbody tr:first-child th, #mCafe24Order .segment .ec-base-table tbody tr:first-child td{padding: 0 0 8px 0!important;}
#mCafe24Order .segment .ec-base-table tbody th, #mCafe24Order .segment .ec-base-table tbody td {padding: 8px 0!important;}
#mCafe24Order .segment .ec-base-table tbody th{color: #606060!important;font-size: 14px!important;}
#mCafe24Order .segment .paymentList ul{padding: 0!important;border-top: 0!important;border-bottom: 0!important;margin-top: 0px!important;}
#mCafe24Order .segment .paymentList .discountName .ico_auto{display: none;}
#mCafe24Order .segment .paymentList .discountName{padding-left: 0!important;}
#mCafe24Order .totalPay.paymentPrice{background-color: #fff!important;}
#mCafe24Order .totalPay.paymentPrice{ padding: 8px 0px!important;}
#mCafe24Order .totalPay.paymentPrice .heading{font-size: 14px!important;color: #606060!important;font-weight: 400!important;}
#total_product_base_price_id, #total_ship_price_id, #payment_total_sale_price_view, #ec-shop-payment_benefit_price2_view,#payment_total_order_sale_price_view{font-size: 14px!important;color: #000!important;font-weight: 400!important;}
#mCafe24Order .segment .price, #mCafe24Order .totalPay.paymentPrice .txtStrong{font-size: 14px!important;color: #000!important;font-weight: 400!important;}
#mCafe24Order .txtRed{color: #000!important;}
#ec-jigsaw-area-payment .discountView{display: none!important;}

#ec-jigsaw-area-discount #ec-shop-orderfom-total-benefit-view-id{display: none!important;}
#mileage_use_area, .mCouponSelect, .mCouponModify{padding: 10px 0px 0!important;}
#mileage_use_area .displayblock{display: flex; flex-direction: column;text-align: left;}
#input_mile{height: 48px!important;width: calc(100% - 95px)!important;}
#btn_coupon_select{width: 61px!important;height: 48px!important;border-radius: 2px;}
#all_use_mileage{width: 87px!important;height: 48px!important;border-radius: 2px;}
#mCafe24Order .discountDetail{border-bottom: 0!important;}
#mCafe24Order .discountDetail .control{justify-content: space-between!important;}
#mCafe24Order ul.ec-base-help li{background: none;}
#mCafe24Order .txtEm{color: #000!important;}
#ec-jigsaw-area-discount .totalPay{display: none!important;}
#mCafe24Order .segment .paymentList .discountName .ico_copon{display: none!important;}
.mCouponSelect .displayFlex{flex-direction: column;text-align: left;}
#mCafe24Order .ec-order-expandwrap .ec-order-expand:after{display: none!important;}
#mCafe24Order .discountDetail .ec-base-help{background-color: #fff!important;padding: 13px 0px!important;}
#mCafe24Order .discountDetail .ec-base-help li:not(.ec-order-expand){    opacity: 1!important;height: auto!important;padding-top: 0px!important;}
#mCafe24Order .mCouponSelect .summary,#mileage_use_area .summary{float: left!important;}
#mileage_use_area .summary{ padding-left: 8px;}
#mCafe24Order .discountDetail .ec-base-help li{color: #747474!important;font-size: 12px!important;}
#mCafe24Order .discountDetail .control .inputTypeText{color: #000!important;}
#mCafe24Order .discountDetail .heading{font-size: 14px!important;}
#mCafe24Order .mCouponSelect .displayFlex .control .discountPrice{    border: 1px solid #E1E1E1!important;
    height: 48px!important;
    width: calc(100% - 70px)!important;
    margin: 0!important;line-height: 48px!important;padding: 0 0 0 10px!important; width: calc(100% - 83px)!important;}
#btn_coupon_select{line-height: 48px!important;}
#mCafe24Order .payMethod{margin-top: 0!important;}

#mCafe24Order .payMethod > li.ec-paymethod-newArea .inner{display:grid!important;gap: 8px; flex-direction: row!important; grid-template-columns: 1fr 1fr;}
#mCafe24Order .payMethod > li.ec-paymethod-newArea .inner a[href="https://www.kakaopay.com"]{display: none;}
/*#mCafe24Order .payMethod > li.ec-paymethod-newArea .inner span{width: 49% !important;}*/
#ec-jigsaw-area-paymethod .segment{padding: 20px 0px 0px!important;}
#mCafe24Order .payMethod > li .inner > .ec-base-label > label{border: 1px solid #E0E0E0!important;padding: 9px 25px 9px!important; text-align: center; border-radius: 2px; height: 48px; box-sizing: border-box;}
#mCafe24Order .payMethod > li .inner > .ec-base-label > input:checked ~ label{border: 1px solid #000!important;color: #000!important;font-weight: 400!important;}
#mCafe24Order .payMethod > li .inner > .ec-base-label:last-child{    border-bottom: 0!important;}
#mCafe24Order .payMethod > li > input, .ec-paymethod-recentArea{display: none!important;}
#mCafe24Order .payMethod > li .inner{opacity: 1!important;height: auto!important;}
#mCafe24Order .payMethod > li > label{    padding: 0 0 16px 0!important;}
.payTitle{color: #000!important; font-size: 15px;font-weight: 500;}
.helpArea{display: none;}
#mCafe24Order .receiptWrap{border-bottom: 0!important;}
#flagEscrowIcashUse0[type="checkbox"],#chk_purchase_agreement0[type="checkbox"],#allAgree[type="checkbox"],#mallAgree[type="checkbox"],#personAgree[type="checkbox"],#set_main_address0[type="checkbox"],#save_paymethod[type="checkbox"],#flagEscrowUse0[type="checkbox"]{border: 1px solid #E0E0E0!important;border-radius: 2px;width: 16px!important; height: 16px!important;background-image: none!important;margin-top: 4px!important;}
#flagEscrowIcashUse0[type="checkbox"]:checked,#chk_purchase_agreement0[type="checkbox"]:checked, #allAgree[type="checkbox"]:checked,#mallAgree[type="checkbox"]:checked,#personAgree[type="checkbox"]:checked,#set_main_address0[type="checkbox"]:checked,#save_paymethod[type="checkbox"]:checked,#flagEscrowUse0[type="checkbox"]:checked{    background: url(/SkinImg/img/checkbox_on.svg) no-repeat center!important;border: 1px solid #000!important;  background-size: 17px!important;}
#ec-jigsaw-area-benefit{display: none!important;}
#total_order_sale_price_view{display: none!important;}
#orderFixItem.ec-base-button.gFull [class*="btn"]{background-color: #000!important;font-size: 14px!important;}
.mileageUse{float: left;font-size: 15px;color: #383838;margin-top: 8px;padding-right: 10px;position: relative;}
.mileageUse:after{position:absolute;content:"/";top:3px;right:0;font-size: 12px;color: #122E45;}

.cardPromotion{margin-bottom: 56px;margin-top: 32px;}
.cardPromotion > span{padding-bottom: 16px;display: block;}
.cardPromotion ul{border: 1px solid #EAEAEA; height: auto;padding: 16px;}
.cardPromotion ul li{font-weight: 400;font-size: 12px;line-height: 18px;color: #122E45;padding: 0 0 4px;display: flex;color: #122E45;position: relative;}
.cardPromotion ul li p{padding-left: 4px;color: #888;    display: inline;}
.cardPromotion ul li p span{display:inline-block; width: 4px;height: 4px;border-top: 1px solid #888;border-right: 1px solid #888;transform: rotate(45deg);margin-bottom: 2px; margin-left: 3px;}
.cardPromotion ul p{font-weight: 400;font-size: 12px; line-height:18px; color: #888;padding-top: 6px;}

#mCafe24Order .orderArea .totalPrice .totalAdd{display: flex; flex-direction: row; justify-content: space-between;}
#mCafe24Order .orderArea .totalPrice .totalAdd h3{color: #606060;font-size: 14px;font-weight: 400!important;}
#mCafe24Order .orderArea .totalPrice .totalAdd .totalprice{color: #000000;font-size: 14px;}

#mCafe24Order input[type="radio"]{background: url(/web/upload/free_design/chk_box.png)no-repeat 0 0!important;width: 16px!important; height: 16px!important;background-size: 16px!important;}
#mCafe24Order input:not(:disabled):checked[type="radio"]{background: url(/web/upload/free_design/orderRadioChecked.png) no-repeat 0 0!important;width: 16px!important; height: 16px!important;background-size: 16px!important;}

/*비회원구매*/
#mCafe24Order .pannelArea{background: #fff!important;}
#mCafe24Order .pannelArea .title{display: none!important;}
#mCafe24Order .pannelArea .title h2{font-weight: 500!important;  font-size: 14px!important;}
#mCafe24Order .pannelArea .ec-base-table colgroup{display: none!important;}
#mCafe24Order .pannelArea .ec-base-table tr{display: flex; flex-direction: column;}
#mCafe24Order .pannelArea .ec-base-table td{border-bottom:0!important; }
#mCafe24Order .pannelArea .ec-base-help{color: #008FE0!important;background: none!important;padding-left: 0!important;}
#mCafe24Order .pannelArea input{height: 48px!important;}
#mCafe24Order .ec-orderform-NoMemberPasswdRow{ margin-top: 0px!important;}
#order_password, #order_password_confirm{border-top: 1px solid #eaeaea!important;}
.ec-orderform-NoMemberPasswdRow .ec-base-table th{    border-bottom: 0!important;}
#mCafe24Order .pannelArea tr{position: relative;}
#ec-jigsaw-area-shippingInfo .pannelArea tr:nth-child(1) th:after{content:''; display: block!important;position: absolute;top: 33px!important;left: 106px!important;width:4px!important; height:4px!important; transform: translateY(-50%)!important;color: #888888!important;background: #e73223;border-radius: 50%;border: 0!important;}
#ec-jigsaw-area-shippingInfo .pannelArea tr:nth-child(2) th:after{content:''; display: block!important;position: absolute;top: 33px!important;left: 136px!important;width:4px!important; height:4px!important; transform: translateY(-50%)!important;color: #888888!important;background: #e73223;border-radius: 50%;border: 0!important;}

#mCafe24Order .agreeArea .allAgree, #mCafe24Order .agreeArea .agreement{ margin: 0 0px!important; }
#allAgree[type="checkbox"]{margin-top: 8px!important;}
.titleLine{ border-bottom: 1px solid #000!important;justify-content: center;padding: 16px 0;font-size: 14px;text-align: center;font-weight: 500;}


#mCafe24Order li:nth-of-type(1){ order:1; }
#mCafe24Order li:nth-of-type(2){ order:3; }
#mCafe24Order li:nth-of-type(3){ order:2; }

#mCafe24Order .agreeArea{display: block!important;}
#agreeMsg{display: block!important;}
#chk_purchase_agreement1{display: block!important;}
#ec-jigsaw-area-agreement{margin-bottom: 50px!important;}
#mCafe24Order .agreeArea .allAgree{border-bottom: 0!important;padding: 16px 0 8px!important;}
#mCafe24Order .agreeArea .checkNone{margin: 0px 0px 0 0px!important;border-top: 0!important;padding: 0px 0 20px!important;}
#mCafe24Order .agreeArea .checkNone ul{background-color: #fff!important;padding: 0px 0 24px!important;margin-bottom: 0!important;}
#mCafe24Order .agreeArea .checkNone ul li{margin: 0 0!important;}
#mCafe24Order .agreeArea .checkNone .agree-msg{text-align: left!important;}
#mCafe24Order .agreeArea .checkNone .agree-msg input{float: left;}
#mCafe24Order .agreeArea .checkNone .agree-msg p{font-weight: 400;  font-size: 14px;  line-height: 21px; margin: 0 16px 0 13px;float: left;}
#mCafe24Order .agreeArea .agreement.displaynone ~ .checkNone{padding: 16px 0!important;}
#mCafe24Order .agreeArea .agreement li{border-top: 0!important;padding: 12px 0!important;}
#mCafe24Order input[type="checkbox"] + label{    margin: 0 16px 0 13px!important;font-weight: 400!important;  font-size: 14px!important;  line-height: 21px;color: #000!important;}
#mCafe24Order .agreeArea .agreement .agree .check{    padding: 0 0 0 13px!important;}

#mCafe24Order.xans-order-result .ec-base-table.gCellNarrow tbody th{padding-bottom: 4px!important; padding-top: 4px!important;}
#mCafe24Order.xans-order-result .ec-base-table.gCellNarrow tbody td{padding-bottom: 4px!important; padding-top: 4px!important;}
#mCafe24Order.xans-order-result .ec-base-table:first-child{margin-top: 0px!important;}
#mCafe24Order.xans-order-result .ec-base-table:last-child{margin-bottom: 0px!important;}
#mCafe24Order .ec-base-table.typeView h3{padding-top: 18px!important;font-size: 14px!important;}
#mCafe24Order.xans-order-result .pannelArea{border-bottom: 1px solid #EAEAEA!important; margin: 0 0 0px!important;}
#mCafe24Order.xans-order-result .pannelArea .ec-base-table tr.paySection{padding-bottom: 18px!important;border-bottom: 0!important;}

#mCafe24Order .segment .ec-base-table tbody tr:first-child td{padding-bottom: 0!important;}
#ec-shippingInfo-newAddress #btn_search_rzipcode{font-size: 12px; border-color: #000 !important; border-radius: 2px;}

#mCafe24Order .ec-paymethod-input-detail {padding: 0 !important;}
#mCafe24Order .ec-paymethod-input-detail #payment_input_tcash {border: none !important; background-color: #FFF !important;}
#mCafe24Order #allat_account_nm {height: 48px !important;}
#mCafe24Order .ec-paymethod-input-detail #payment_input_tcash.ec-base-table.typeWrite {padding: 0 !important;}
#mCafe24Order .ec-paymethod-input-detail #payment_input_tcash.ec-base-table.typeWrite td,
#mCafe24Order .ec-paymethod-input-detail #payment_input_tcash.ec-base-table.typeWrite th {border: none !important;}
#mCafe24Order .ec-paymethod-input-detail #payment_input_tcash.ec-base-table.typeWrite tr {display: flex !important; flex-direction: column !important;}
#mCafe24Order .ec-paymethod-input-detail #payment_input_tcash.ec-base-table.typeWrite tr:nth-child(2) th{display: none !important;}
#mCafe24Order .ec-paymethod-input-detail #payment_input_tcash.ec-base-table.typeWrite tr:nth-child(2) td{padding-top: 8px!important;}

#mCafe24Order .ec-paymethod-input-detail #payment_input_tcash.ec-base-table.typeWrite colgroup col:first-child {width: 100% !important;}
#mCafe24Order .ec-paymethod-input-detail #payment_input_tcash.ec-base-table.typeWrite colgroup col:nth-child(2) {display: none !important;}
.pay_price{ margin-right: 5px}

#mCafe24Order .receiptWrap .receiptArea{ background-color: #fff!important; border: none!important;padding: 0 0!important;}
#mCafe24Order .receiptWrap{    margin: 0 0px 20px!important;}
#mCafe24Order .receiptWrap .receiptArea .title{padding-top:32px!important;}

#mCafe24Order .shippingList{margin-top: 0!important;}
#ec-shippingInfo-recentAddressList h3{padding-bottom: 20px;font-size: 14px!important;font-weight: 500!important;}
#payment_input_icash {
    border: 0!important;
    background-color: #fff!important;
    padding-top: 16px!important;
}
#payment_input_icash th{display: none;}
#payment_input_icash td{border-bottom: 0!important;}


@media all and (max-width:1024px) {
    .containerOrder{padding-top: 40px;}
    #mCafe24Order{margin: 0 auto!important;}
    #mCafe24Order > h2{padding: 0px 0 32px;}
    .containerOrder #titleArea.titleArea{display: none!important;}
    #mCafe24Order{width: 100%!important;}
    #ec-jigsaw-area-billingInfo #btn_search_ozipcode{top: 0px!important;right: 0px!important;}
    .emailtxt{display: block;line-height: 1;padding-top: 8px;}
    #ec-shippingInfo-newAddress #btn_search_rzipcode{top: 0px!important;right: 0px!important;}
    #mCafe24Order .discountDetail .ec-base-help li{margin:2px 0!important;}
    #ec-jigsaw-area-paymethod .segment{padding: 14px 0px 0px!important;}
    .cardPromotion ul li {padding: 0 0 6px;}
    .cardPromotion ul p {padding-top: 2px;}
    .cardPromotion ul li p{padding: 2px 0 0; display: block;}
    #mCafe24Order .ec-cashreceipt-textAndForm .ec-cashreceipt-formArea .inputArea{    align-items: center!important;}
}
@media all and (max-width:767px) {
    #mCafe24Order{width: 98%!important;margin: 0 auto!important;}
    #mCafe24Order > h2{padding: 0px 0 32px;}
    .containerOrder #titleArea.titleArea{display: none!important;}
    #header .titleArea{display: block!important; margin-top: 0px!important;}
    /*#mCafe24Order .payMethod > li.ec-paymethod-newArea .inner span{ width: 48% !important;}*/
}