/** form_onetouch_style **/

/* 원터치 주문서 셀렉트박스 화살표 삭제 ie11 - 정환 */
select::-ms-expand {display:none;}
#userStyle #header .titleArea h1 {background-color:#fff;color: #000;font-weight: 400;font-size: 24px;}
#userStyle #mCafe24Order .txtEm,
#userStyle #mCafe24Order .txtStrong {color:#111;}
#userStyle #mCafe24Order .btnSubmit {background-color:#111 !important;border:1px solid #111 !important;}

.headerOrder{max-width: 100% !important;  position: fixed!important;  z-index: 9999999!important;}
.containerOrder{padding-top: 100px;}
#header .header{display: none;}
.titleArea{margin: 80px 0 32px!important;}
#header .titleArea h1{background-color: #fff!important;color: #000!important;border: 0!important;font-size: 24px!important;font-weight: 400!important;}
#mCafe24Order .orderArea .totalPrice .title{background-color: #fff!important;padding: 11px 0!important;}

#mCafe24Order{background: #fff!important;margin: 0 auto!important;}
#mCafe24Order{width: 474px!important; border-left: 0!important;border-right: 0!important;}
#mCafe24Order.typeHeader{padding-top: 0px!important;}
#mCafe24Order .ec-base-fold{border-bottom: 0!important;}
#mCafe24Order .ec-base-fold > .title{border-bottom: 1px solid #000!important;justify-content: center!important;padding: 16px 0!important; font-size: 14px!important;position: relative;}
#mCafe24Order .ec-base-fold > #ec-jigsaw-title-billingInfo:before,
#mCafe24Order .ec-base-fold > #ec-jigsaw-title-shippingInfo:before{content:'필수입력사항'; display: block;position: absolute;top: 50%;right: 0;transform: translateY(-50%);color: #888888;font-size: 12px;}
#mCafe24Order .ec-base-fold > .title h2{font-size: 14px!important;font-weight: 400!important;}
#ec-jigsaw-title-payment:after, #ec-jigsaw-title-paymethod:after, #ec-jigsaw-title-orderProduct:after{display: none!important;}
#mCafe24Order .ec-base-fold > #ec-jigsaw-title-billingInfo:after,
#mCafe24Order .ec-base-fold > #ec-jigsaw-title-shippingInfo:after{content:''; display: block!important;position: absolute;top: 43%!important;right: 71px!important;width:4px!important; height:4px!important; transform: translateY(-50%)!important;color: #888888!important;background: red;border-radius: 50%;border: 0!important;}

#mCafe24Order .title h2{margin: 0 0px 0 0!important;}
#mCafe24Order .orderArea .ec-base-prdInfo{margin: 0 0px 0px 0px!important;border-bottom: 1px solid #EAEAEA!important;}
#mCafe24Order .ec-base-prdInfo .thumbnail{width:120px!important;height: 160px!important;border: 0!important;}
#mCafe24Order .ec-base-prdInfo .description .info{margin: 0 0 0px!important;}
#mCafe24Order .ec-base-prdInfo .description .info li{margin-bottom: 8px!important;}
#mCafe24Order .txtWarn{color: #000!important;}
#mCafe24Order .icoRequired{width: 4px!important;height: 4px!important;background: #E73223!important;border-radius: 50%!important;vertical-align: top!important;margin: 0px 0 0!important;}
#mCafe24Order .ec-base-tab li{background: #fff!important;border-left: 0!important;}
#mCafe24Order .ec-base-tab li.selected{    border-bottom-color: #000!important;}
#ec-jigsaw-tab-shippingInfo.ec-base-tab li a{font-size: 14px!important;font-weight: 500!important;color: #888888!important;}
#ec-jigsaw-tab-shippingInfo.ec-base-tab li.selected a{color: #000!important;}
#mCafe24Order .segment .paymentList .discountName .ico_accumulate{display: none!important;}

#ec-jigsaw-area-billingInfo colgroup{display: none!important;}
#ec-jigsaw-area-billingInfo .address_form tr{display: flex;flex-direction: column;}
#ec-jigsaw-area-billingInfo .ec-base-table th, #ec-jigsaw-area-billingInfo .ec-base-table td{border-bottom: 0!important;}
#mCafe24Order .ec-base-table.typeWrite tbody th{padding: 32px 0 16px!important;}
#mCafe24Order .ec-base-table.typeWrite td{padding: 0px 0 0px!important;}
#mCafe24Order .ec-base-table .ec-address{margin: 0px!important;}
#mCafe24Order .ec-base-table .ec-address > li{padding: 0px 0px 8px!important;}
#ec-jigsaw-area-billingInfo input{height: 48px!important;background-color: #fff!important;}
#ec-jigsaw-area-billingInfo select{height: 48px!important; border: 1px solid #E1E1E1!important;}
#ec-jigsaw-area-billingInfo #btn_search_ozipcode{height: 48px!important;width: 61px!important;margin: 0 0 0 0px!important;min-width: 61px!important;}
#ozipcode1{width: calc(100% - 70px)!important;flex: none!important;}
#orderer_zipcode_wrap{ justify-content: space-between; height: 48px!important;}
.emailtxt{font-size: 12px;color: #747474;display: contents;line-height: 2;}

#ec-shippingInfo-recentAddressText{padding: 0 0px 32px!important;}
.ec-shippingInfo-shippingMessage{padding: 20px 0px 20px!important;}
#mCafe24Order .segment.unique{border-top: 0!important;padding: 0px 0px 0px!important;}
.messageTxt{ color: #383838;margin-bottom: 8px; display: block;}
#mCafe24Order .recentShipArea .recent .address{font-size: 14px!important; color: #949494!important;}
#ec-shop-deliveryInfoCell, #ec-shop-deliveryInfoTel{font-size: 14px!important; color: #949494!important;}
#ec-shop-deliveryInfoName{font-size: 14px!important; font-weight: 700!important;}
#omessage_select{ border: 1px solid #EAEAEA!important; color: #888!important;height: 48px!important;}
#ec-shippingInfo-showRecentAddressList{ border: 1px solid #EAEAEA!important; color: #000!important; height: 36px!important; padding: 0 15px!important;}
#mCafe24Order .segment.ec-shippingInfo-sameaddr{padding: 10px 0px 0px!important;}
#mCafe24Order input[type="radio"] + label{font-size: 14px!important;color: #606060;}
#ec-shippingInfo-newAddress colgroup{display: none;}
.ec-shippingInfo-newAddress-name, #ec-receiver-address, .ec-shippingInfo-receiverPhone , .ec-shippingInfo-receiverCell {display: flex;flex-direction: column;}
#rname, #rzipcode1,#btn_search_rzipcode, #raddr1, #raddr2, #rphone1_1, #rphone1_2, #rphone1_3, #rphone2_1, #rphone2_2, #rphone2_3{height: 48px!important;background-color: #fff!important;border: 1px solid #EAEAEA!important;}
#ec-shippingInfo-newAddress .ec-base-table th, #ec-shippingInfo-newAddress .ec-base-table td{border-bottom: 0!important;}
#rzipcode1{width: calc(100% - 85px)!important;flex: none!important;}
#btn_search_rzipcode{width: 70px!important;margin: 0 0 0 0px!important;}
#receiver_zipcode_wrap{ justify-content: space-between; height: 48px!important;}
#mCafe24Order .segment.ec-shippingInfo-newAddress-setMain{ padding: 0 0px 20px!important;}
#ec-shippingInfo-newAddress .ec-base-table{padding-bottom: 32px!important;}

#mCafe24Order #ec-jigsaw-area-payment .segment{padding: 16px 0px 0px!important;}
#mCafe24Order #ec-jigsaw-area-payment .ec-base-table th, #ec-jigsaw-area-payment .ec-base-table td{border-bottom: 0!important;}
#mCafe24Order .segment .ec-base-table tbody tr:first-child th, #mCafe24Order .segment .ec-base-table tbody tr:first-child td{padding: 0 0 8px 0!important;}
#mCafe24Order .segment .ec-base-table tbody th, #mCafe24Order .segment .ec-base-table tbody td {padding: 8px 0!important;}
#mCafe24Order .segment .ec-base-table tbody th{color: #606060!important;font-size: 14px!important;}
#mCafe24Order .segment .paymentList ul{padding: 0!important;border-top: 0!important;border-bottom: 0!important;margin-top: 0px!important;}
#mCafe24Order .segment .paymentList .discountName .ico_auto{display: none;}
#mCafe24Order .segment .paymentList .discountName{padding-left: 0!important;}
#mCafe24Order .totalPay.paymentPrice{background-color: #fff!important;}
#mCafe24Order .totalPay.paymentPrice{ padding: 8px 0px!important;}
#mCafe24Order .totalPay.paymentPrice .heading{font-size: 14px!important;color: #606060!important;font-weight: 400!important;}
#total_product_base_price_id, #total_ship_price_id, #payment_total_sale_price_view, #ec-shop-payment_benefit_price2_view,#payment_total_order_sale_price_view{font-size: 14px!important;color: #000!important;font-weight: 400!important;}
#mCafe24Order .segment .price, #mCafe24Order .totalPay.paymentPrice .txtStrong{font-size: 14px!important;color: #000!important;font-weight: 400!important;}
#mCafe24Order .txtRed{color: #000!important;}

#ec-jigsaw-area-discount #ec-shop-orderfom-total-benefit-view-id, #ec-jigsaw-title-discount{display: none!important;}
#mileage_use_area, .mCouponSelect, .mCouponModify{padding: 10px 0px 0!important;}
#mileage_use_area .displayblock{display: flex; flex-direction: column;text-align: left;}
#input_mile{height: 48px!important;width: calc(100% - 70px)!important;}
#all_use_mileage, #btn_coupon_select{width: 61px!important;height: 48px!important;border-radius: 2px;}
#mCafe24Order .discountDetail{border-bottom: 0!important;}
#mCafe24Order .discountDetail .control{justify-content: space-between!important;}
#mCafe24Order ul.ec-base-help li{background: none;}
#mCafe24Order .txtEm{color: #000!important;}
#ec-jigsaw-area-discount .totalPay{display: none!important;}
#mCafe24Order .segment .paymentList .discountName .ico_copon{display: none!important;}
.mCouponSelect .displayFlex{flex-direction: column;text-align: left;}
#mCafe24Order .ec-order-expandwrap .ec-order-expand:after{display: none!important;}
#mCafe24Order .discountDetail .ec-base-help{background-color: #fff!important;padding: 13px 0px!important;}
#mCafe24Order .discountDetail .ec-base-help li:not(.ec-order-expand){    opacity: 1!important;height: auto!important;padding-top: 0px!important;}
#mCafe24Order .mCouponSelect .summary,#mileage_use_area .summary{float: left!important;}
#mileage_use_area .summary{ padding-left: 8px;}
#mCafe24Order .discountDetail .ec-base-help li{color: #747474!important;font-size: 12px!important;}
#mCafe24Order .discountDetail .control .inputTypeText{color: #000!important;}
#mCafe24Order .discountDetail .heading{font-size: 14px!important;}
#mCafe24Order .mCouponSelect .displayFlex .control .discountPrice{    border: 1px solid #E1E1E1!important;
    height: 48px!important;
    width: calc(100% - 70px)!important;
    margin: 0!important;line-height: 48px!important;padding: 0 0 0 10px!important; width: calc(100% - 83px)!important;}
#btn_coupon_select{line-height: 48px!important;}
#mCafe24Order .payMethod{margin-top: 0!important;}

#mCafe24Order .payMethod > li.ec-paymethod-newArea .inner{display:flex!important;flex-wrap: wrap;gap: 8px;justify-content: space-between; flex-direction: row!important;}
#mCafe24Order .payMethod > li.ec-paymethod-newArea .inner span{width: 49% !important;}
#ec-jigsaw-area-paymethod .segment{padding: 20px 0px 0px!important;}
#mCafe24Order .payMethod > li .inner > .ec-base-label > label{border-bottom: 1px solid #EBEBEB!important;padding: 9px 25px 9px!important;}
#mCafe24Order .payMethod > li .inner > .ec-base-label > input:checked ~ label{border: 1px solid #000!important;color: #000!important;font-weight: 400!important;}
#mCafe24Order .payMethod > li .inner > .ec-base-label:last-child{    border-bottom: 0!important;}
#mCafe24Order .payMethod > li > input, .ec-paymethod-recentArea{display: none!important;}
#mCafe24Order .payMethod > li .inner{opacity: 1!important;height: auto!important;}
#mCafe24Order .payMethod > li > label{    padding: 0 0 16px 0!important;}
.payTitle{color: #000!important;}
.helpArea{display: none;}
#mCafe24Order .receiptWrap{border-bottom: 0!important;}
#chk_purchase_agreement0[type="checkbox"],#allAgree[type="checkbox"],#mallAgree[type="checkbox"],#personAgree[type="checkbox"],#set_main_address0[type="checkbox"],#save_paymethod[type="checkbox"]{border: 1px solid #E0E0E0!important;border-radius: 2px;width: 16px!important; height: 16px!important;background-image: none!important;margin-top: 4px!important;}
#chk_purchase_agreement0[type="checkbox"]:checked, #allAgree[type="checkbox"]:checked,#mallAgree[type="checkbox"]:checked,#personAgree[type="checkbox"]:checked,#set_main_address0[type="checkbox"]:checked,#save_paymethod[type="checkbox"]:checked{    background: url(/SkinImg/img/checkbox_on.svg) no-repeat center!important;border: 1px solid #000!important;  background-size: 17px!important;}
#ec-jigsaw-area-benefit{display: none!important;}
#total_order_sale_price_view{display: none!important;}
#orderFixItem.ec-base-button.gFull [class*="btn"]{background-color: #000!important;font-size: 14px!important;}
.mileageUse{float: left;font-size: 15px;color: #383838;margin-top: 8px;padding-right: 10px;position: relative;}
.mileageUse:after{position:absolute;content:"/";top:3px;right:0;font-size: 12px;color: #122E45;}

.cardPromotion{margin-bottom: 56px;}
.cardPromotion > span{padding-bottom: 16px;display: block;}
.cardPromotion ul{border: 1px solid #EAEAEA; height: auto;padding: 16px;}
.cardPromotion ul li{font-weight: 400;font-size: 12px;line-height: 18px;color: #122E45;padding: 2px 0;display: flex;color: #122E45;}
.cardPromotion ul li span{padding-left: 8px;color: #888;position: relative;}
.cardPromotion ul li span:after{position: absolute;right: -8px;top: 6px;content: '';width: 4px;height: 4px;border-top: 1px solid #888;border-right: 1px solid #888;transform: rotate(45deg);}
.cardPromotion ul p{font-weight: 400;font-size: 12px;color: #888;padding-top: 6px;}

#mCafe24Order .orderArea .totalPrice .totalAdd{display: flex; flex-direction: row; justify-content: space-between;}
#mCafe24Order .orderArea .totalPrice .totalAdd h3{color: #606060;font-size: 14px;font-weight: 400!important;}
#mCafe24Order .orderArea .totalPrice .totalAdd .totalprice{color: #000000;font-size: 14px;}

#mCafe24Order input[type="radio"]{background: url(/web/upload/free_design/chk_box.png)no-repeat 0 0!important;width: 16px!important; height: 16px!important;background-size: 16px!important;}
#mCafe24Order input:not(:disabled):checked[type="radio"]{background: url(/web/upload/free_design/orderRadioChecked.png) no-repeat 0 0!important;width: 16px!important; height: 16px!important;background-size: 16px!important;}

/*비회원구매*/
#mCafe24Order .pannelArea{background: #fff!important;}
#mCafe24Order .pannelArea .title{display: none!important;}
#mCafe24Order .pannelArea .title h2{font-weight: 500!important;  font-size: 14px!important;}
#mCafe24Order .pannelArea .ec-base-table colgroup{display: none!important;}
#mCafe24Order .pannelArea .ec-base-table tr{display: flex; flex-direction: column;}
#mCafe24Order .pannelArea .ec-base-table td{border-bottom:0!important; }
#mCafe24Order .pannelArea .ec-base-help{color: #008FE0!important;background: none!important;padding-left: 0!important;}
#mCafe24Order .pannelArea input{height: 48px!important;}
#mCafe24Order .ec-orderform-NoMemberPasswdRow{ margin-top: 0px!important;}
#order_password, #order_password_confirm{border-top: 0!important;}

#mCafe24Order .agreeArea .allAgree, #mCafe24Order .agreeArea .agreement{ margin: 0 0px!important; }
#allAgree[type="checkbox"]{margin-top: 8px!important;}
.titleLine{ border-bottom: 1px solid #000!important;justify-content: center;padding: 16px 0;font-size: 14px;text-align: center;font-weight: 400;}


@media all and (max-width:1024px) {
    #mCafe24Order{margin: 0 auto!important;}
    .containerOrder #titleArea.titleArea{display: none!important;}
    #mCafe24Order{width: 100%!important;}
    #ec-jigsaw-area-billingInfo #btn_search_ozipcode{top: 0px!important;right: 0px!important;}
    .emailtxt{display: block;line-height: 1;padding-top: 8px;}
    #ec-shippingInfo-newAddress #btn_search_rzipcode{top: 0px!important;right: 0px!important;}
    #mCafe24Order .discountDetail .ec-base-help li{margin:2px 0!important;}
}
@media all and (max-width:767px) {
    #mCafe24Order{width: 98%!important;margin: 0 auto!important;}
    .containerOrder #titleArea.titleArea{display: none!important;}
    #header .titleArea{display: block!important; margin-top: 0px!important;}
    #mCafe24Order .payMethod > li.ec-paymethod-newArea .inner span{ width: 48% !important;}
}