.xans-board-catemove { padding:16px 0; border-top:1px solid #eaeaea; }
.xans-board-catemove .gColumn { display:inline-block; margin-right: 8px;}
.xans-board-catemove #board_category_move { margin:0 8px 0 24px; }
.xans-board-catemove select { width:184px; font-size: 14px;}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-board-catemove .gColumn:first-of-type { margin-left:0; }
}

/********************* MO *********************/
@media all and (max-width:520px) {
    .xans-board-catemove .gColumn {display: block; }
    .xans-board-catemove .gColumn:not(:first-child) {margin-top: 16px;}
}