#container #contents { max-width: 474px; position: relative;}
#contents .titleArea {margin: 80px 0 32px 0;}

.cs_nav { position: absolute; left: -242px;}
.cs_nav_title {font-size: 12px; line-height: 18px; font-weight: 500; margin-bottom: 8px;}
.cs_nav ul li:not(:last-child) { margin-bottom: 8px; }
.cs_nav ul li a {font-size: 12px; line-height: 18px; color: #606060;}

.cs-tab {width: 100%; display: flex; height: 150px; background-color: #F9F9F9; border-top: 1px solid #000;}
.cs-tab > a {display: flex; flex: 1; flex-direction: column; align-items: center; justify-content: center; gap: 16px; line-height: 20px;}

.boardMain.boardFnq {margin-top: 32px;}
.boardMain.boardNotice {margin-top: 80px;}
.boardMain h3 {font-size: 14px; line-height: 16px; font-weight: 500; text-align: center; padding-bottom: 16px; border-bottom: 1px solid #000; margin-bottom: 8px;}
 .btnLink { display: block; width: 100%; height: 48px; background-color: #000; color: #FFF; font-size: 14px; line-height: 48px; font-weight: 400; text-align: center; margin-top: 24px; border-radius: 2px;}
.boardMain .ec-base-table.typeList tr {display: flex; flex-direction: column; padding: 16px 0; border-bottom: 1px solid #eaeaea;}
.boardMain .ec-base-table.typeList td {padding: 0; border: none;}
.boardMain .ec-base-table.typeList td.right {text-align: left; color: #888; margin-top: 8px;}

.cs_info {display:flex; justify-content:space-between; margin-top: 32px; background-color: #F9F9F9; border-top: 1px solid #000; padding: 24px 32px;}
.cs_info p {font-size: 14px; line-height: 20px; color: #606060;}
.cs_info .cs_info_title { color: #000; margin-bottom: 4px;}
.cs_info .cs_number {font-size: 18px; line-height: 28px; color: #000; font-weight: 500;}
.cs_info svg {margin-right: 8px;}

/* 고객 혜택 페이지 */
.h4_title { line-height: 16px; font-weight: 500; text-align: center; padding-bottom: 16px; border-bottom: 1px solid #000;}
.policy_info .h4_title, .member_benefits .h4_title {margin-bottom: 24px;}
.member_grade { margin-bottom: 48px; }
.member_grade table td { padding: 32px 14px; border: 1px solid #eaeaea;}
.member_grade p { line-height: 24px;}
.member_grade p span {display:inline-block; width: 56px; font-size:12px; color: #747474; margin-right: 8px;}
.member_grade p.grade_title {font-family:'Acumin Pro',sans-serif; font-size: 16px; line-height: 26px; color: #001A72; font-weight: 700; margin-bottom: 4px;}

.member_benefits {margin-bottom: 48px;}
.benefit_text p span, .policy_info span {color: #606060; display: block; margin-bottom: 8px;}
.benefit_text p:not(:last-child) { margin-bottom: 24px; }
.policy_info ul { margin-bottom: 24px; padding-left: 14px;}
.policy_info ul li  {list-style-type: "・";}

@media screen and (max-width: 1024px) {
    #contents .titleArea {margin: 44px 0 32px 0;}

    .boardMain .ec-base-table.typeList td a {color: #000;}
    .boardMain .ec-base-table.typeList td.right {font-size: 12px; line-height: 14px;}

    .member_grade .h4_title {margin-bottom: 16px;}
    .member_grade table tr {display: flex; flex-direction: column; width: 100%;}
    .member_grade table tr td {width: 100%; box-sizing: border-box; padding: 24px;}
    .member_grade table tr:not(:first-child) td {border-top: none;}
}