.xans-board-title p.imgArea { margin:0 0 20px; }

.xans-board-modify-9 .ec-base-table .view .detail { padding:10px; word-break:break-all; line-height:normal; }
.xans-board-modify-9 .ec-base-table .view .detail ol,
.xans-board-modify-9 .ec-base-table .view .detail ul { margin:15px 0; padding:0 0 0 40px; }
.xans-board-modify-9 .ec-base-table .view .detail ol li { list-style:decimal; }
.xans-board-modify-9 .ec-base-table .view .detail ul li { list-style:disc; }


#myshopMain {top: 40px;}
.xans-board-modify-9 input{height: 48px!important;}
.xans-board-modify-9 .file td { color:#7d7d7d; }
.xans-board-modify-9 .file label { color:#000; }
.xans-board-modify-9 .file [id^="delfile"] { margin-left:20px; }
.xans-board-modify-9 .flexColumn{display: flex; flex-direction: column;}
.xans-board-modify-9 .ec-base-table th,.xans-board-modify-9 .ec-base-table td{    border-bottom: 0; padding: 16px 0 0!important;}
#email1,#email2{width: 47% !important}
#email1{float: left;margin-right: 9px;}#email2{float: right;}
#email3{width: 100% !important;margin-left: 0!important;height: 48px!important;margin-top: 8px!important;}
#cons_re0,#cons_re1{height: 18px!important;}


.gLeft{width: 100%;margin-bottom: 8px;}
.gLeft a{width: 100%;background-color: #000!important;color:#fff!important;}
.gRight{width: 100%;display: flex; flex-direction: row;justify-content: space-between;}
.gRight a{flex: none!important;width: 49%; margin: 0 0 0 0px!important;border: 1px solid #000!important;; color: #000!important;;background-color: #fff!important;font-weight: 400!important;}
.xans-board-modify-9 .ec-base-table.gLayoutFixed{margin-bottom: 16px;}
.xans-board-modify-9 .ec-base-table.gLayoutFixed tr{display: flex;}
.xans-board-modify-9 .ec-base-table.gLayoutFixed th{margin-right: 16px;font-weight: 500;}

.xans-board-modify-9 .ec-base-button.gBottom{display: flex;flex-direction: row;gap: 8px;justify-content: space-between;}
.xans-board-modify-9 .ec-base-button.gBottom > span{flex: 1;}
.xans-board-modify-9 .ec-base-button.gBottom .gRight a{    min-width: auto;    width: inherit;}
.xans-board-modify-9 .ec-base-button.gBottom:after{display: none;}
.xans-board-modify .fr-wrapper .fr-iframe, .xans-board-reply .fr-wrapper .fr-iframe, .xans-board-write .fr-wrapper .fr-iframe{height: 702px!important;}
.fr-toolbar{border: 1px solid #eaeaea!important; border-bottom: 0!important;}
.fr-box.fr-basic .fr-wrapper{ border: 1px solid #eaeaea!important;border-bottom-color: #eaeaea!important;border-top: 0!important;}



/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
	.xans-board-modify-9 .ec-base-table input[type="text"],
    .xans-board-modify-9 .ec-base-table input[type="password"],
    .xans-board-modify-9 .ec-base-table select { width:100%; }
    .xans-board-modify-9 #email1 { width:47%; margin:0 6px 0 0; }
    .xans-board-modify-9 #email2 { width:47%; flex:1; margin:0 0 0 6px; }
    .xans-board-modify-9 #email3 { margin:10px 0 0; }
    .xans-board-modify-9 #captcha { flex:1; margin-left:10px; }
    .xans-board-modify-9 .file input[type="file"] { display:block; }
    #email1{margin-right: 2px!important;}
    .gRight a{width: 49.5%;}
    .xans-board-modify .fr-wrapper .fr-iframe, .xans-board-reply .fr-wrapper .fr-iframe, .xans-board-write .fr-wrapper .fr-iframe{height: 432px!important;}
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-board-modify-9 #subject { width:100%; }
    .xans-board-modify-9 #email1,
    .xans-board-modify-9 #email2 { width:138px; }
    .xans-board-modify-9 #email3 { width:138px; margin:0 0 0 10px; }
    .xans-board-modify-9 #captcha { width:200px; margin:0 20px 0 10px; }
}