.xans-board-title p.imgArea { margin:0 0 20px; }

/* read */
.xans-board-read-9 .ec-base-table .view .detail { padding: 24px 16px; word-break:break-all; line-height:normal;}
.xans-board-read-9 .ec-base-table .view .detail ol,
.xans-board-read-9 .ec-base-table .view .detail ul { margin:15px 0; padding:0 0 0 40px; }
.xans-board-read-9 .ec-base-table .view .detail ol li { list-style:decimal; }
.xans-board-read-9 .ec-base-table .view .detail ul li { list-style:disc; }
.xans-board-read-9 .ec-base-table .attach a { color:#8f8f8f; }
.xans-board-read-9 .ec-base-table .attach a:hover { text-decoration:underline; }

.xans-board-read-9 .ec-base-button { margin:10px 0 40px; }


.xans-board-read-9 .ec-base-table td{    border-bottom: 0;}
.xans-board-read-9 tr td.consultR{position: relative;padding-right: 8px;color: #888888;}
.xans-board-read-9 tr td.consultR::after{content: ''; display: block;background-color:#888888;width: 1px; height:8px;position: absolute;top: 8px;right: 0;}

.xans-board-read-9 .listGo{background-color: #000;color: #fff;width: 100%!important; }
.xans-board-read-9 .btnCommon{width: 49%!important;min-width:49%!important;}
.xans-board-read-9 .ec-base-button.gBottom .gLeft [class^='btn'] {margin: 0 0px 0 0!important;}
.xans-board-read-9 .ec-base-button.gBottom .gLeft a{border: 1px solid #000!important;font-weight: 400;}
.xans-board-read-9 .ec-base-button.gBottom [class^='btn']{flex: none}
.xans-board-read-9 .ec-base-box.typeThinBg{background: #F9F9F9;border-bottom: 1px solid #EAEAEA;border-top: 1px solid #eaeaea;border-left: 0;border-right: 0;padding: 16px;}
.adminAnswer{display: none;}
.xans-board-read-9 .ec-base-button.gBottom .gRight{width: 100%;display: flex;flex-wrap: wrap;gap: 8px;margin-top: 8px!important;flex-direction: row;}
.xans-board-read-9 .ec-base-button.gBottom .gRight a{flex: 1; margin-left: 0;border: 0!important;font-weight: 400;}
/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-board-read-9 .btnCommon{width: 48.5%!important;min-width:48.5%!important;}

}